<div id="employeesList" *ngIf="employees" class="table-responsive">
  <div class="col-lg-12">
    <h2>Employee Details</h2>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Filter by name" style="width: 300px"
             [(ngModel)]="searchTerm"/>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Hire Date</th>
        <th>Manager Id</th>
        <th>Department Id</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of filteredEmployees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.lName}}</td>
        <td>{{employee.jobTitle}}</td>
        <td>{{employee.hireDate}}</td>
        <td>{{employee.managerId}}</td>
        <td>{{employee.departmentId}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="editEmployee(employee)">Edit Employee</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-error-message *ngIf="errorMessage" [errorModel]="errorModel" [message]="errorMessage"></app-error-message>


