<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center">Add Department</h2>
        <form name="form" (ngSubmit)="f.form.valid && createDepartment()" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="depName">Name:</label>
            <input type="text" [(ngModel)]="department.depName" placeholder="Name" name="depName"
                   class="form-control" id="depName" #depName="ngModel"
                   [ngClass]="{ 'is-invalid': f.touched && depName.invalid}" required>
            <div *ngIf="f.touched && depName.invalid" class="invalid-feedback">
              <div *ngIf="depName.errors.required">Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!createDepartmentForm.valid">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

